.card {
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0px 1px 3px #0000000a,0px 6px 16px #0000001f;
  flex: 0 1 calc(25% - 1.25rem);
  border-radius: 0.5rem;
  /*border: 0.25rem solid #eff3f6;*/
  background-color: #fff;
  box-shadow: var(--tw-ring-offset-shadow,0 0 #0000),var(--tw-ring-shadow,0 0 #0000),var(--tw-shadow);
}

.card__inner {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  min-height: 100%;
  border-radius: 0.5rem;
}

.card__pictures {
  max-height: 240px;
  object-fit: cover;
  overflow: hidden;
}

.card__title {
  flex-grow: 1;
}

.card__description {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card__price {
  font-weight: bold;
}

.card__cart {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5rem;
  background-color: #fff;
  border: 1px solid #ced7df;
  border-radius: 0.5rem;
  color: #59626a;
  cursor: pointer;
}

.card__cart:hover {
  background-color: #eff3f6;
}
