@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  transition: all 0.3s ease-out;
}

html {
  font-size: 16px;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #f3f4f7;
}

img {
  width: 100%;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 1rem;
}

.main__inner {
  background-color: #fff;
  padding: 1rem;
  margin: 1rem 0;
  border-radius: 0.5rem;
}
